<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [63]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [64]:
# Write your code here
for col in df.columns:
    print(f'Column: {col}')
    print(f'Non-missing count: {df[col].count()}')
    print(f'Missing count: {df[col].isna().sum()}')
    print(f'Dtype: {df[col].dtype}')
    print('-'*30)

Column: ResponseId
Non-missing count: 65437
Missing count: 0
Dtype: int64
------------------------------
Column: MainBranch
Non-missing count: 65437
Missing count: 0
Dtype: object
------------------------------
Column: Age
Non-missing count: 65437
Missing count: 0
Dtype: object
------------------------------
Column: Employment
Non-missing count: 65437
Missing count: 0
Dtype: object
------------------------------
Column: RemoteWork
Non-missing count: 54806
Missing count: 10631
Dtype: object
------------------------------
Column: Check
Non-missing count: 65437
Missing count: 0
Dtype: object
------------------------------
Column: CodingActivities
Non-missing count: 54466
Missing count: 10971
Dtype: object
------------------------------
Column: EdLevel
Non-missing count: 60784
Missing count: 4653
Dtype: object
------------------------------
Column: LearnCode
Non-missing count: 60488
Missing count: 4949
Dtype: object
------------------------------
Column: LearnCodeOnline
Non-missing count: 49237
Missing count: 16200
Dtype: object
------------------------------
Column: TechDoc
Non-missing count: 40897
Missing count: 24540
Dtype: object
------------------------------
Column: YearsCode
Non-missing count: 59869
Missing count: 5568
Dtype: object
------------------------------
Column: YearsCodePro
Non-missing count: 51610
Missing count: 13827
Dtype: object
------------------------------
Column: DevType
Non-missing count: 59445
Missing count: 5992
Dtype: object
------------------------------
Column: OrgSize
Non-missing count: 47480
Missing count: 17957
Dtype: object
------------------------------
Column: PurchaseInfluence
Non-missing count: 47406
Missing count: 18031
Dtype: object
------------------------------
Column: BuyNewTool
Non-missing count: 45181
Missing count: 20256
Dtype: object
------------------------------
Column: BuildvsBuy
Non-missing count: 43358
Missing count: 22079
Dtype: object
------------------------------
Column: TechEndorse
Non-missing count: 43668
Missing count: 21769
Dtype: object
------------------------------
Column: Country
Non-missing count: 58930
Missing count: 6507
Dtype: object
------------------------------
Column: Currency
Non-missing count: 46684
Missing count: 18753
Dtype: object
------------------------------
Column: CompTotal
Non-missing count: 33740
Missing count: 31697
Dtype: float64
------------------------------
Column: LanguageHaveWorkedWith
Non-missing count: 59745
Missing count: 5692
Dtype: object
------------------------------
Column: LanguageWantToWorkWith
Non-missing count: 55752
Missing count: 9685
Dtype: object
------------------------------
Column: LanguageAdmired
Non-missing count: 50872
Missing count: 14565
Dtype: object
------------------------------
Column: DatabaseHaveWorkedWith
Non-missing count: 50254
Missing count: 15183
Dtype: object
------------------------------
Column: DatabaseWantToWorkWith
Non-missing count: 42558
Missing count: 22879
Dtype: object
------------------------------
Column: DatabaseAdmired
Non-missing count: 38557
Missing count: 26880
Dtype: object
------------------------------
Column: PlatformHaveWorkedWith
Non-missing count: 42366
Missing count: 23071
Dtype: object
------------------------------
Column: PlatformWantToWorkWith
Non-missing count: 34532
Missing count: 30905
Dtype: object
------------------------------
Column: PlatformAdmired
Non-missing count: 31377
Missing count: 34060
Dtype: object
------------------------------
Column: WebframeHaveWorkedWith
Non-missing count: 45161
Missing count: 20276
Dtype: object
------------------------------
Column: WebframeWantToWorkWith
Non-missing count: 38535
Missing count: 26902
Dtype: object
------------------------------
Column: WebframeAdmired
Non-missing count: 34943
Missing count: 30494
Dtype: object
------------------------------
Column: EmbeddedHaveWorkedWith
Non-missing count: 22214
Missing count: 43223
Dtype: object
------------------------------
Column: EmbeddedWantToWorkWith
Non-missing count: 17600
Missing count: 47837
Dtype: object
------------------------------
Column: EmbeddedAdmired
Non-missing count: 16733
Missing count: 48704
Dtype: object
------------------------------
Column: MiscTechHaveWorkedWith
Non-missing count: 39443
Missing count: 25994
Dtype: object
------------------------------
Column: MiscTechWantToWorkWith
Non-missing count: 32964
Missing count: 32473
Dtype: object
------------------------------
Column: MiscTechAdmired
Non-missing count: 29596
Missing count: 35841
Dtype: object
------------------------------
Column: ToolsTechHaveWorkedWith
Non-missing count: 52482
Missing count: 12955
Dtype: object
------------------------------
Column: ToolsTechWantToWorkWith
Non-missing count: 46084
Missing count: 19353
Dtype: object
------------------------------
Column: ToolsTechAdmired
Non-missing count: 43997
Missing count: 21440
Dtype: object
------------------------------
Column: NEWCollabToolsHaveWorkedWith
Non-missing count: 57592
Missing count: 7845
Dtype: object
------------------------------
Column: NEWCollabToolsWantToWorkWith
Non-missing count: 52087
Missing count: 13350
Dtype: object
------------------------------
Column: NEWCollabToolsAdmired
Non-missing count: 50711
Missing count: 14726
Dtype: object
------------------------------
Column: OpSysPersonal use
Non-missing count: 58174
Missing count: 7263
Dtype: object
------------------------------
Column: OpSysProfessional use
Non-missing count: 52973
Missing count: 12464
Dtype: object
------------------------------
Column: OfficeStackAsyncHaveWorkedWith
Non-missing count: 48093
Missing count: 17344
Dtype: object
------------------------------
Column: OfficeStackAsyncWantToWorkWith
Non-missing count: 38966
Missing count: 26471
Dtype: object
------------------------------
Column: OfficeStackAsyncAdmired
Non-missing count: 37204
Missing count: 28233
Dtype: object
------------------------------
Column: OfficeStackSyncHaveWorkedWith
Non-missing count: 55545
Missing count: 9892
Dtype: object
------------------------------
Column: OfficeStackSyncWantToWorkWith
Non-missing count: 46711
Missing count: 18726
Dtype: object
------------------------------
Column: OfficeStackSyncAdmired
Non-missing count: 44712
Missing count: 20725
Dtype: object
------------------------------
Column: AISearchDevHaveWorkedWith
Non-missing count: 44453
Missing count: 20984
Dtype: object
------------------------------
Column: AISearchDevWantToWorkWith
Non-missing count: 36701
Missing count: 28736
Dtype: object
------------------------------
Column: AISearchDevAdmired
Non-missing count: 35543
Missing count: 29894
Dtype: object
------------------------------
Column: NEWSOSites
Non-missing count: 60286
Missing count: 5151
Dtype: object
------------------------------
Column: SOVisitFreq
Non-missing count: 59536
Missing count: 5901
Dtype: object
------------------------------
Column: SOAccount
Non-missing count: 59560
Missing count: 5877
Dtype: object
------------------------------
Column: SOPartFreq
Non-missing count: 45237
Missing count: 20200
Dtype: object
------------------------------
Column: SOHow
Non-missing count: 58962
Missing count: 6475
Dtype: object
------------------------------
Column: SOComm
Non-missing count: 59163
Missing count: 6274
Dtype: object
------------------------------
Column: AISelect
Non-missing count: 60907
Missing count: 4530
Dtype: object
------------------------------
Column: AISent
Non-missing count: 45873
Missing count: 19564
Dtype: object
------------------------------
Column: AIBen
Non-missing count: 36894
Missing count: 28543
Dtype: object
------------------------------
Column: AIAcc
Non-missing count: 37302
Missing count: 28135
Dtype: object
------------------------------
Column: AIComplex
Non-missing count: 37021
Missing count: 28416
Dtype: object
------------------------------
Column: AIToolCurrently Using
Non-missing count: 35072
Missing count: 30365
Dtype: object
------------------------------
Column: AIToolInterested in Using
Non-missing count: 30691
Missing count: 34746
Dtype: object
------------------------------
Column: AIToolNot interested in Using
Non-missing count: 24414
Missing count: 41023
Dtype: object
------------------------------
Column: AINextMuch more integrated
Non-missing count: 13438
Missing count: 51999
Dtype: object
------------------------------
Column: AINextNo change
Non-missing count: 12498
Missing count: 52939
Dtype: object
------------------------------
Column: AINextMore integrated
Non-missing count: 24428
Missing count: 41009
Dtype: object
------------------------------
Column: AINextLess integrated
Non-missing count: 2355
Missing count: 63082
Dtype: object
------------------------------
Column: AINextMuch less integrated
Non-missing count: 1148
Missing count: 64289
Dtype: object
------------------------------
Column: AIThreat
Non-missing count: 44689
Missing count: 20748
Dtype: object
------------------------------
Column: AIEthics
Non-missing count: 41548
Missing count: 23889
Dtype: object
------------------------------
Column: AIChallenges
Non-missing count: 37531
Missing count: 27906
Dtype: object
------------------------------
Column: TBranch
Non-missing count: 44477
Missing count: 20960
Dtype: object
------------------------------
Column: ICorPM
Non-missing count: 29801
Missing count: 35636
Dtype: object
------------------------------
Column: WorkExp
Non-missing count: 29658
Missing count: 35779
Dtype: float64
------------------------------
Column: Knowledge_1
Non-missing count: 28664
Missing count: 36773
Dtype: object
------------------------------
Column: Knowledge_2
Non-missing count: 28021
Missing count: 37416
Dtype: object
------------------------------
Column: Knowledge_3
Non-missing count: 28095
Missing count: 37342
Dtype: object
------------------------------
Column: Knowledge_4
Non-missing count: 28030
Missing count: 37407
Dtype: object
------------------------------
Column: Knowledge_5
Non-missing count: 27880
Missing count: 37557
Dtype: object
------------------------------
Column: Knowledge_6
Non-missing count: 27864
Missing count: 37573
Dtype: object
------------------------------
Column: Knowledge_7
Non-missing count: 27778
Missing count: 37659
Dtype: object
------------------------------
Column: Knowledge_8
Non-missing count: 27758
Missing count: 37679
Dtype: object
------------------------------
Column: Knowledge_9
Non-missing count: 27635
Missing count: 37802
Dtype: object
------------------------------
Column: Frequency_1
Non-missing count: 28369
Missing count: 37068
Dtype: object
------------------------------
Column: Frequency_2
Non-missing count: 28364
Missing count: 37073
Dtype: object
------------------------------
Column: Frequency_3
Non-missing count: 27710
Missing count: 37727
Dtype: object
------------------------------
Column: TimeSearching
Non-missing count: 28911
Missing count: 36526
Dtype: object
------------------------------
Column: TimeAnswering
Non-missing count: 28844
Missing count: 36593
Dtype: object
------------------------------
Column: Frustration
Non-missing count: 28251
Missing count: 37186
Dtype: object
------------------------------
Column: ProfessionalTech
Non-missing count: 27764
Missing count: 37673
Dtype: object
------------------------------
Column: ProfessionalCloud
Non-missing count: 28491
Missing count: 36946
Dtype: object
------------------------------
Column: ProfessionalQuestion
Non-missing count: 28807
Missing count: 36630
Dtype: object
------------------------------
Column: Industry
Non-missing count: 28858
Missing count: 36579
Dtype: object
------------------------------
Column: JobSatPoints_1
Non-missing count: 29324
Missing count: 36113
Dtype: float64
------------------------------
Column: JobSatPoints_4
Non-missing count: 29393
Missing count: 36044
Dtype: float64
------------------------------
Column: JobSatPoints_5
Non-missing count: 29411
Missing count: 36026
Dtype: float64
------------------------------
Column: JobSatPoints_6
Non-missing count: 29450
Missing count: 35987
Dtype: float64
------------------------------
Column: JobSatPoints_7
Non-missing count: 29448
Missing count: 35989
Dtype: float64
------------------------------
Column: JobSatPoints_8
Non-missing count: 29456
Missing count: 35981
Dtype: float64
------------------------------
Column: JobSatPoints_9
Non-missing count: 29456
Missing count: 35981
Dtype: float64
------------------------------
Column: JobSatPoints_10
Non-missing count: 29450
Missing count: 35987
Dtype: float64
------------------------------
Column: JobSatPoints_11
Non-missing count: 29445
Missing count: 35992
Dtype: float64
------------------------------
Column: SurveyLength
Non-missing count: 56182
Missing count: 9255
Dtype: object
------------------------------
Column: SurveyEase
Non-missing count: 56238
Missing count: 9199
Dtype: object
------------------------------
Column: ConvertedCompYearly
Non-missing count: 23435
Missing count: 42002
Dtype: float64
------------------------------
Column: JobSat
Non-missing count: 29126
Missing count: 36311
Dtype: float64
------------------------------

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [65]:
# Write your code here
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [66]:
# Write your code here
for value in df['Country'].unique():
    count = (df['Country'] == value).sum()
    print(value, count)

United States of America 11095
United Kingdom of Great Britain and Northern Ireland 3224
Canada 2104
Norway 450
Uzbekistan 62
Serbia 245
Poland 1534
Philippines 196
Bulgaria 319
Switzerland 876
India 4231
Germany 4947
Ireland 270
Italy 1341
Ukraine 2672
Australia 1260
Brazil 1375
Japan 288
Austria 791
Iran, Islamic Republic of... 411
France 2110
Saudi Arabia 56
Romania 439
Turkey 546
Nepal 139
Algeria 77
Sweden 1016
Netherlands 1449
Croatia 187
Pakistan 415
Czech Republic 714
Republic of North Macedonia 36
Finland 386
Slovakia 248
Russian Federation 925
Greece 389
Israel 604
Belgium 526
Mexico 402
United Republic of Tanzania 28
Hungary 396
Argentina 345
Portugal 470
Sri Lanka 163
Latvia 128
China 406
Singapore 177
Lebanon 46
Spain 1123
South Africa 358
Lithuania 183
Viet Nam 296
Dominican Republic 47
Indonesia 354
Kosovo 18
Morocco 98
Taiwan 268
Georgia 94
San Marino 3
Tunisia 71
Bangladesh 327
Nigeria 305
Liechtenstein 4
Denmark 504
Ecuador 54
Malaysia 161
Albania 49
Azerbaijan 27
Chile 133
Ghana 70
Peru 75
Bolivia 32
Egypt 262
Luxembourg 40
Montenegro 27
Cyprus 63
Paraguay 39
Kazakhstan 81
Slovenia 142
Jordan 40
Venezuela, Bolivarian Republic of... 69
Costa Rica 54
Jamaica 11
Thailand 147
Nicaragua 21
Myanmar 21
Republic of Korea 57
Rwanda 22
Bosnia and Herzegovina 62
Benin 11
El Salvador 19
Zimbabwe 26
Afghanistan 56
Estonia 110
Malta 29
Uruguay 94
Belarus 97
Colombia 217
Republic of Moldova 38
Isle of Man 13
Nomadic 43
New Zealand 396
Palestine 15
Armenia 58
United Arab Emirates 130
Maldives 16
Ethiopia 60
Fiji 4
Guatemala 41
Uganda 39
Turkmenistan 11
Mauritius 15
Kenya 180
Cuba 23
Gabon 4
Bahamas 4
South Korea 146
Iceland 31
Honduras 16
Hong Kong (S.A.R.) 146
Lao People's Democratic Republic 4
Mongolia 10
Cambodia 22
Madagascar 14
Angola 20
Democratic Republic of the Congo 3
Syrian Arab Republic 30
Iraq 44
Namibia 5
Senegal 9
Kyrgyzstan 44
Zambia 15
Swaziland 4
Côte d'Ivoire 14
Kuwait 8
Tajikistan 7
Burundi 3
Trinidad and Tobago 8
Mauritania 5
Sierra Leone 3
Panama 18
Somalia 9
North Korea 3
Dominica 1
Guyana 3
Togo 9
Oman 8
Barbados 6
Andorra 15
Democratic People's Republic of Korea 2
Qatar 15
Sudan 7
Cameroon 31
Papua New Guinea 1
Bahrain 11
Yemen 18
Malawi 12
Burkina Faso 4
Congo, Republic of the... 8
Botswana 5
Guinea-Bissau 2
Mozambique 7
Central African Republic 1
Equatorial Guinea 1
Suriname 5
Belize 2
Libyan Arab Jamahiriya 4
Cape Verde 5
Brunei Darussalam 3
Bhutan 3
Guinea 1
Niger 1
Antigua and Barbuda 5
Mali 2
Samoa 1
Lesotho 1
Saint Kitts and Nevis 1
Monaco 3
Micronesia, Federated States of... 1
Haiti 1
nan 0
Nauru 1
Liberia 4
Chad 1
Djibouti 1
Solomon Islands 1

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [67]:
## Write your code here
# fixes
country_mapping = {
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'Iran, Islamic Republic of...': 'Iran',
    'Republic of North Macedonia': 'North Macedonia',
    'United Republic of Tanzania': 'Tanzania',
    'Republic of Moldova': 'Moldova',
    'Hong Kong (S.A.R.)': 'Hong Kong',
    'Micronesia, Federated States of...': 'Micronesia',
    'Venezuela, Bolivarian Republic of...': 'Venezuela',
    'Republic of Korea': 'South Korea',
    "Democratic People's Republic of Korea": 'North Korea',
    'Congo, Republic of the...': 'Democratic Republic of the Congo',
    'Nomadic': None,
    'nan': None
}

df['Country'] = df['Country'].replace(country_mapping)

df = df.dropna(subset=['Country'])

print(df['Country'].value_counts())

Country
United States      11095
Germany             4947
India               4231
United Kingdom      3224
Ukraine             2672
                   ...
Micronesia             1
Nauru                  1
Chad                   1
Djibouti               1
Solomon Islands        1
Name: count, Length: 181, dtype: int64

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [69]:
## Write your code here
df_encodedEmployment = pd.get_dummies(df, columns=['Employment'])

df_encodedEmployment.head()

,ResponseId,MainBranch,Age,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,...,"Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work","Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time","Employment_Student, full-time;Not employed, but looking for work;Retired","Employment_Student, full-time;Not employed, but looking for work;Student, part-time","Employment_Student, full-time;Student, part-time","Employment_Student, full-time;Student, part-time;Employed, part-time","Employment_Student, full-time;Student, part-time;Retired","Employment_Student, part-time","Employment_Student, part-time;Employed, part-time","Employment_Student, part-time;Retired"
0,1,I am a developer by profession,Under 18 years old,Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,2,I am a developer by profession,35-44 years old,Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,...,False,False,False,False,False,False,False,False,False,False
2,3,I am a developer by profession,45-54 years old,Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,...,False,False,False,False,False,False,False,False,False,False
3,4,I am learning to code,18-24 years old,NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,NaN,...,False,False,False,False,False,False,False,False,False,False
4,5,I am a developer by profession,18-24 years old,NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,API document(s) and/or SDK document(s);User gu...,...,False,False,False,False,False,False,False,False,False,False

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [74]:
## Write your code here
missing_counts = df.isna().sum().sort_values(ascending=False)
print(missing_counts)

AINextMuch less integrated    57814
AINextLess integrated         56631
AINextNo change               46713
AINextMuch more integrated    45826
EmbeddedAdmired               42504
                              ...
Age                               0
EdLevel                           0
Check                             0
Employment                        0
ResponseId                        0
Length: 114, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [77]:
## Write your code here
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].mean())
print(df['ConvertedCompYearly'].isna().sum())

0

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [79]:
## Write your code here
cat_cols = ['RemoteWork', 'CodingActivities', 'EdLevel', 'LearnCode']
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

for col in cat_cols:
    print(df[col].isna().sum())

0
0
0
0

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [81]:
## Write your code here
df['ConvertedCompYearly_MinMax'] = ((df['ConvertedCompYearly'] - df['ConvertedCompYearly'].min()) / 
                                    (df['ConvertedCompYearly'].max() - df['ConvertedCompYearly'].min())
                                   )
df['ConvertedCompYearly_MinMax'].describe()

count    58887.000000
mean         0.005300
std          0.007247
min          0.000000
25%          0.005225
50%          0.005300
75%          0.005300
max          1.000000
Name: ConvertedCompYearly_MinMax, dtype: float64

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [85]:
## Write your code here
import math
df['ConvertedCompYearly_Log'] = df['ConvertedCompYearly'].apply(lambda x: math.log(x + 1))
df['ConvertedCompYearly_Log'].describe()

count    58887.000000
mean        11.133901
std          0.929095
min          0.693147
25%         11.349777
50%         11.363924
75%         11.363924
max         16.604010
Name: ConvertedCompYearly_Log, dtype: float64

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [101]:
## Write your code here
bins = [0, 2, 5, 10, 15, float('inf')]
labels = ['Beginner', 'Junior', 'Mid-level', 'Senior', 'Expert']
df['YearsCodePro'] = df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')
df['YearsCodePro'] = df['YearsCodePro'].fillna(df['YearsCodePro'].mean())

df['ExperienceLevel'] = pd.cut(df['YearsCodePro'], bins=bins, labels=labels)
df['ExperienceLevel'].head(100)

0        Senior
1        Expert
2        Expert
3        Senior
4        Senior
        ...
95     Beginner
96    Mid-level
97       Expert
98     Beginner
99       Senior
Name: ExperienceLevel, Length: 100, dtype: category
Categories (5, object): ['Beginner' < 'Junior' < 'Mid-level' < 'Senior' < 'Expert']

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.